[submodule "linux/linux-2.6.x"]
	path = linux/linux-2.6.x
	url = git://nwd2cvs1.corp.analog.com/git/unreleased/linux-kernel.git
[submodule "testsuites"]
	path = testsuites
	url = git://nwd2cvs1.corp.analog.com/git/unreleased/buildroot-testsuites.git
