[submodule "linux/linux-kernel"]
	path = linux/linux-kernel
	url = ssh://anonymous@firewall-sources.blackfin.uclinux.org/git/linux-kernel
[submodule "testsuites"]
	path = testsuites
	url = ssh://anonymous@firewall-sources.blackfin.uclinux.org/git/buildroot_test
