[submodule "linux/linux-kernel"]
	path = linux/linux-kernel
	url = http://git.code.sf.net/p/adi-linux/code
[submodule "testsuites"]
	path = testsuites
	url = http://git.code.sf.net/p/adi-buildroot/buildroot-test/code
