BR2_bfin=y
BR2_bf527=y
BR2_GCC_TARGET_CPU_REVISION="0.0"
BR2_BINFMT_FDPIC=y
# BR2_BFIN_INSTALL_FLAT_SHARED is not set
BR2_DEPRECATED=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH=""
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="bfin-linux-uclibc"
BR2_TOOLCHAIN_EXTERNAL_LARGEFILE=y
BR2_TOOLCHAIN_EXTERNAL_INET_RPC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TOOLCHAIN_EXTRA_EXTERNAL_LIBS="libgfortran.so libgomp.so libmudflap.so libmudflapth.so libobjc.so"
BR2_PACKAGE_GDB_SERVER=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_ROOTFS_DEVICE_TABLE="board/AnalogDevices/blackfin/device_table-min.txt"
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="board/AnalogDevices/blackfin/target_skeleton"
BR2_PACKAGE_BUSYBOX_CONFIG="board/AnalogDevices/blackfin/busybox-fdpic.config"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_ALSA_UTILS_AMIXER=y
BR2_PACKAGE_ALSA_UTILS_APLAY=y
BR2_PACKAGE_ALSA_UTILS_SPEAKER_TEST=y
BR2_PACKAGE_FFMPEG=y
BR2_PACKAGE_FFMPEG_FFPLAY=y
BR2_PACKAGE_FFMPEG_FFSERVER=y
BR2_PACKAGE_DHRYSTONE=y
BR2_PACKAGE_NBENCH=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_WHETSTONE=y
BR2_PACKAGE_MTD=y
BR2_PACKAGE_LIBAO=y
BR2_PACKAGE_LIBID3TAG=y
BR2_PACKAGE_LIBMAD=y
BR2_PACKAGE_LIBVORBIS=y
BR2_PACKAGE_SPEEX=y
BR2_PACKAGE_LIBGCRYPT=y
BR2_PACKAGE_SQLITE=y
BR2_PACKAGE_JPEG=y
BR2_PACKAGE_LIBPNG=y
BR2_PACKAGE_VERSION=y
BR2_PACKAGE_INETUTILS=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_JFFS2=y
BR2_TARGET_ROOTFS_UBIFS=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_OVERRIDE=y
BR2_LINUX_KERNEL_CUSTOM_OVERRIDE_PATH="linux/linux-kernel"
BR2_LINUX_KERNEL_PATCH="board/AnalogDevices/blackfin/patches/linux-3.8/"
BR2_LINUX_KERNEL_DEFCONFIG="BF527-EZKIT"
