BR2_bfin=y
BR2_BFIN_FDPIC=y
BR2_SOURCEFORGE_MIRROR="easynews"
BR2_TOOLCHAIN_EXTERNAL=y
# BR2_TOOLCHAIN_OVERRIDE_VENDOR is not set
BR2_TOOLCHAIN_EXTERNAL_LARGEFILE=y
BR2_TOOLCHAIN_EXTERNAL_INET_RPC=y
BR2_TOOLCHAIN_EXTERNAL_PROGRAM_INVOCATION=y
BR2_TOOLCHAIN_EXTERNAL_HAS_THREADS=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_PACKAGE_GDB_SERVER=y
BR2_TARGET_ANALOGDEVICES=y
BR2_ROOTFS_DEVICE_TABLE="target/device/AnalogDevices/device_table-min.txt"
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH=""
BR2_BUSYBOX_VERSION_1_17_X=y
BR2_PACKAGE_BUSYBOX_CONFIG=""
BR2_PACKAGE_CUSTOMIZE=y
BR2_PACKAGE_FFMPEG=y
BR2_PACKAGE_FFMPEG_FFPLAY=y
BR2_PACKAGE_FFMPEG_FFSERVER=y
BR2_PACKAGE_LIBAO=y
BR2_PACKAGE_LIBID3TAG=y
BR2_PACKAGE_LIBMAD=y
BR2_PACKAGE_LIBVORBIS=y
BR2_PACKAGE_SPEEX=y
BR2_PACKAGE_BONNIE=y
BR2_PACKAGE_DHRYSTONE=y
BR2_PACKAGE_LMBENCH=y
BR2_PACKAGE_NBENCH=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_WHETSTONE=y
BR2_PACKAGE_MTD=y
BR2_PACKAGE_USBUTILS=y
BR2_PACKAGE_LIBGCRYPT=y
BR2_PACKAGE_SQLITE=y
BR2_PACKAGE_JPEG=y
BR2_PACKAGE_LIBPNG=y
BR2_PACKAGE_READLINE=y
BR2_PACKAGE_EVENT_TEST=y
BR2_PACKAGE_RTSCTS_UTIL=y
BR2_PACKAGE_INETUTILS=y
BR2_PACKAGE_IPERF=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_UBIFS=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TREE=y
BR2_LINUX_KERNEL_CUSTOM_PATH="linux/linux-kernel"
BR2_LINUX_KERNEL_PATCH="linux/patch"
BR2_LINUX_KERNEL_DEFCONFIG="BF609-EZKIT"
