BR2_arm=y
BR2_arm926t=y
BR2_JLEVEL=4
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TARGET_GENERIC_HOSTNAME="netcom"
BR2_TARGET_GENERIC_ISSUE="Welcome to Getinge NetCOM"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_DEVTMPFS=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyS4"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/getinge/netcom/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/getinge/netcom/post-image.sh"
BR2_PACKAGE_BUSYBOX_CONFIG="board/getinge/netcom/busybox-1.18.4.config"
# BR2_PACKAGE_MTD_FLASHCP is not set
# BR2_PACKAGE_MTD_FLASH_ERASEALL is not set
# BR2_PACKAGE_MTD_FLASH_INFO is not set
# BR2_PACKAGE_MTD_FLASH_LOCK is not set
# BR2_PACKAGE_MTD_FLASH_UNLOCK is not set
# BR2_PACKAGE_MTD_MTD_DEBUG is not set
# BR2_PACKAGE_MTD_NANDDUMP is not set
# BR2_PACKAGE_MTD_NANDTEST is not set
# BR2_PACKAGE_MTD_UBIATTACH is not set
# BR2_PACKAGE_MTD_UBICRC32 is not set
# BR2_PACKAGE_MTD_UBIDETACH is not set
# BR2_PACKAGE_MTD_UBIFORMAT is not set
# BR2_PACKAGE_MTD_UBIMKVOL is not set
# BR2_PACKAGE_MTD_UBINFO is not set
# BR2_PACKAGE_MTD_UBINIZE is not set
# BR2_PACKAGE_MTD_UBIRENAME is not set
# BR2_PACKAGE_MTD_UBIRMVOL is not set
# BR2_PACKAGE_MTD_UBIRSVOL is not set
# BR2_PACKAGE_MTD_UBIUPDATEVOL is not set
BR2_PACKAGE_UBOOT_TOOLS=y
BR2_PACKAGE_HASERL=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_CURL=y
BR2_PACKAGE_EXPAT=y
BR2_PACKAGE_CIFS_UTILS=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_HEIRLOOM_MAILX=y
BR2_PACKAGE_TCPDUMP=y
BR2_PACKAGE_GPBR_TOOL=y
BR2_PACKAGE_IPSETD=y
BR2_PACKAGE_RESPAWND=y
BR2_PACKAGE_NETCOM_WEB=y
BR2_PACKAGE_ETC_CONFD=y
BR2_PACKAGE_NETCOM_CGIC=y
BR2_PACKAGE_NETCOM_APPS=y
BR2_PACKAGE_NETCOM_APPS_AGS=y
BR2_PACKAGE_NETCOM_APPS_DATABUFFERD=y
BR2_PACKAGE_NETCOM_APPS_DEVCOMD=y
BR2_PACKAGE_NETCOM_APPS_MODBUSD=y
BR2_PACKAGE_NETCOM_APPS_NCLIC=y
BR2_PACKAGE_NETCOM_APPS_NCUTILD=y
BR2_PACKAGE_NETCOM_APPS_NETCOMLOCATOR=y
BR2_PACKAGE_NETCOM_APPS_PACS2000D=y
BR2_PACKAGE_NETCOM_APPS_PACSBUFFERD=y
BR2_PACKAGE_NETCOM_APPS_PRINTLOGD=y
BR2_PACKAGE_NETCOM_APPS_PRINTSCAND=y
BR2_PACKAGE_NETCOM_APPS_PRTUTIL=y
BR2_PACKAGE_NETCOM_APPS_REMOTEAGENT=y
BR2_PACKAGE_NETCOM_APPS_SERSRVD=y
BR2_PACKAGE_NETCOM_APPS_SNTPDATE=y
BR2_PACKAGE_NETCOM_APPS_WEBSETUP=y
BR2_PACKAGE_LIBAGENTEMBEDDED=y
BR2_PACKAGE_NETCOM_USBRUN=y
BR2_PACKAGE_NETCOM_COMMON=y
BR2_PACKAGE_NETCOM_LOGUSB=y
BR2_PACKAGE_NETCOM_LICENSE=y
BR2_PACKAGE_NETCOM_REGISTER=y
BR2_PACKAGE_UBOOT_TEST_SCRIPT=y
BR2_TARGET_ROOTFS_JFFS2=y
BR2_TARGET_ROOTFS_JFFS2_NOCLEANMARKER=y
BR2_TARGET_ROOTFS_JFFS2_PAD=y
BR2_TARGET_ROOTFS_JFFS2_SUMMARY=y
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="getinge_netcomv3"
BR2_TARGET_UBOOT_2011_12=y
BR2_TARGET_UBOOT_CUSTOM_PATCH_DIR="board/getinge/netcom/u-boot-2011.12-patches/"
# BR2_TARGET_UBOOT_NETWORK is not set
BR2_TARGET_UBOOT_ENVIMAGE=y
BR2_TARGET_UBOOT_ENVIMAGE_FILE="board/getinge/netcom/u-boot-env.txt"
BR2_TARGET_UBOOT_ENVIMAGE_SIZE="0x2100"
BR2_TARGET_AT91BOOTSTRAP=y
BR2_TARGET_AT91BOOTSTRAP_BOARD="at91sam9m10g45ek"
BR2_TARGET_AT91BOOTSTRAP_CUSTOM_PATCH_DIR="board/getinge/netcom/at91bootstrap-1.16-patches/"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="3.3"
BR2_LINUX_KERNEL_PATCH="board/getinge/netcom/linux-3.3-patches/"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/getinge/netcom/linux-3.3.config"
